<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/bd9669bb11.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/claqueta.png" />
    <title>Detalle de película</title>
    <link rel="stylesheet" href="/movie.css" />
  </head>

  <body class="body">
    <header>
      <h1 class="title-movie">Detalle de la película</h1>
    </header>
    <main class="main">
      <section class="card">
        <img class="card__img" src="<%= image %>" alt="Imagen de <%= name %>" />
        <div class="card__info">
          <h2 class="card__title"><%= name %></h2>
          <p class="card__genre">Género: <%= genre %></p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <p class="footer__text">Hecho con <i class="fa-solid fa-heart"></i> por Marcela & Monica para Adalab &copy; 2022</p>
      <div class="footer__logo-container">
        <a href="https://adalab.es/" target="_blank"
          ><img class="logo" src="/logo-adalab.png" alt="logo Adalab" title="Ir a página de Adalab"
        /></a>
      </div>
    </footer>
  </body>
</html>
