<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://beta.adalab.es/resources/stylesheets/all.css" />
    <title>Detalle de película</title>
    <!-- <link rel="stylesheet" href="../src/public-css/movie.scss"> -->
    <!-- No está funcionando la importanción de estilos y hemos importado los estilos de los profes -->
</head>

<body>
    <main>
        <h1>Detalle de la película</h1>
        <section class="card">
            <img class="card__img" src="<%= image %>" alt="Imagen de <%= title %>">
            <h2 class="card__title">
                <%= title %>
            </h2>
            <p class="card__description">Género:<%= gender %>
            </p>
        </section>
    </main>

</body>

</html>